@font-face {
    font-family: "Monoton";
    src: url("fonts/Monoton-Regular.ttf");
  }

@font-face {
    font-family: "Dancing Script";
    src: url("fonts/DancingScript-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Cabin-Regular";
    src: url("fonts/CabinSketch-Regular.ttf");
}

body {
    margin: 0em;
    background-color: black;
}

.hearder {
    background-image: url(assets/hearder.jpg);
}

.cabecera {
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
}

.logo {
    width: 200px;
    padding-top: 30px;
    margin-left: 150px;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li{
    margin-top: 50px;
    margin-right: 20px;
    font-family: Roboto;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: Cabin-Regular;
    font-size: 25px;
}

.summer {
    font-family: Monoton;
    color: white;
    font-size:70px;
    padding-top: 160px;
    margin-left: 200px;
}

.festival {
    font-family: Dancing Script;
    color: white;
    font-size:55px;
    margin-top: -80px;
    margin-left: 400px;
}

.espacio-cabecera {
    height: 200px;
}



/* ############################################################################################
                                    ESTILOS DE DJs
###############################################################################################*/

.linea {

    height: 1px;
    background-color: hotpink;
}

.djs {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    background-image: url(assets/fondo-secciones.jpg);
}

.dj {
    justify-content: center;
    width: 33.33%;
    padding-left: 30px;
    padding-right: 30px;
    

}

.imagen-dj {
    height: 200px;
}

.imagen-dj:hover {
    height: 205px;
}

.nombre-dj {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.texto-dj {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ############################################################################################
                                    ESTILOS DE VIDEOS
###############################################################################################*/


.videos {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 90px;
    background-image: url(assets/fondo-secciones.jpg);
    flex-wrap: wrap;
}

.video {

}


/* ############################################################################################
                                    ESTILOS DEL FOOTER
###############################################################################################*/

.footer {
    background-image: url(assets/footer.jpg);
    background-position-y: top;
    background-position-x: left;

}

.footer1 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-top: 0px;
    margin: 0px;
}

.redes i {
    font-size: 1.7em;
    color: hotpink;

}

.icon-facebook2:before {
    content: "\ea91";
    color: black;
    background-color: yellow;
    font-size: 30px;
  }

.suscripcion {
    text-align: center;
    align-items: center;
}

.suscribite {
    font-family: Dancing Script;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 0px;
    color: white;
    font-size:20px;
    align-content: center;
}

#mail {
    width: 250px;
    height: 30px;
    background-color: violet;
    border-radius: 60px;
    padding-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    align-content: center;
}

.boton {
    width: 265px;
    height: 25px;
    border-radius: 50px;
    background-color:magenta;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border: 20px;
}

.boton:hover {
    background-color: mediumvioletred;
}

.reproductor {
    background-color: transparent;
}

#reproductorBox {
    background-color: transparent;
}

#selectTrack {
    background-color: transparent;
}

#cancion {
    color: magenta;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.menu-footer ul{
    margin-left: 60px;
    /*display: flex;*/
    list-style: none;
}

.menu-footer ul li{
    margin-top: 20px;
    margin-left: 20px;
    font-family: Roboto;
}

.menu-footer ul li a {
    text-decoration: none;
    color: white;
    font-family: Cabin-Regular;
    font-size: 20px;
}

.footer2 {
    text-align: center;
}

.pie {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 50px;
    padding-bottom: 10px;
}

.pie h5 a {
    color: magenta;
}